proofs/env/
Off-chain/env/
frontend/node_modules/
Off-chain/basin/
Off-chain/compute/__pycache__/
Off-chain/compute/.env
Off-chain/compute/__pycache__/
Signattestations/node_modules/
Signattestations/.env
proofs/env/
proofs/src/__pycache__/
proofs/.env
proofs/node_modules
proofs/circuits/ZkDNS_cpp
proofs/circuits/ZkDNS_js
proofs/circuits/ZkDNS.wasm
proofs/circuits/ZkDNS.zkey
proofs/circuits/ZkDNS.r1cs
proofs/circuits/ZkDNS.sym
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.env

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
